<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL"
        tools:targetApi="31">
        <activity
            android:name=".Mainhang"
            android:exported="false" />
        <activity
            android:name=".Mainsuaqlkh"
            android:exported="false" />
        <activity
            android:name=".Mainthemqlkh"
            android:exported="false" />
        <activity
            android:name=".Mainthemxe"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".Mainadmin"
            android:exported="false" />
        <activity
            android:name=".Mainsuatt"
            android:exported="false" />
        <activity
            android:name=".MainDiachi"
            android:exported="false" />
        <activity
            android:name=".Maincthd"
            android:exported="false" />
        <activity
            android:name=".Mainxoatk"
            android:exported="false" />
        <activity
            android:name=".Mainchucmung"
            android:exported="false" />
        <activity
            android:name=".Maindoimk"
            android:exported="false" />
        <activity
            android:name=".MainGPLX"
            android:exported="false" />
        <activity
            android:name=".Maintkcuatoi"
            android:exported="false" />
        <activity
            android:name=".Canhan"
            android:exported="false" />
        <activity
            android:name=".Mainxacnhan"
            android:exported="false" />
        <activity
            android:name=".Mainkhoxe"
            android:exported="false" />
        <activity
            android:name=".Mainthongtinxe"
            android:exported="false" /> <!-- Splash Activity là màn hình đầu tiên được khởi động -->
        <activity
            android:name=".Mainkhoidong"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mainchinh"
            android:exported="false" />
        <activity
            android:name=".MainDangKy"
            android:exported="false" />
        <activity
            android:name=".Maindangnhap"
            android:exported="true" />
    </application>

</manifest>